@import 'variables';
@import 'mixins';

.header {
  @include font;
  font-size: 12px;
  line-height: 130%;
  color: $untouched_color;
  margin-left: 15px;
}

.textarea-container {
  padding: 10px;
  border: 1px solid $border-untouched-color;
  border-radius: 8px;
}

.focused-container {
  border: 1px solid $touched-input-color;
}

.focused-text {
  color : $touched-input-color;
}

.error-container {
  border: 1px solid $input-error-color;
}

.error-text {
  color: $input-error-color;
}

.textarea {
  @include font;
  min-width: 120px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 150%;
  background-color: $invisible;
  resize: none;
  cursor: auto;
  caret-color: $touched-input-color;

  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.0168em;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  height: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
  background-color: $invisible;
  -webkit-border-radius: 16px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: $gray-for-button;
  -webkit-border-radius: 16px;
}
