<mat-dialog-content>
  <div class="main-container">
    <app-dialog-header name="Replace Catalog"></app-dialog-header>

    <div class="content">
      <div class="description">Drops the existing catalog and imports the new one</div>
      <div class="loader-container">
        <app-file-loader
          (onDataLoad)="loadedData($event)"
          [disabled]="startLoad"
          [messages]="errors"
          (onFileLoad)="onLoad($event)"></app-file-loader>
      </div>


    </div>

    <app-dialog-bottom>
      <div class="buttons-container">

        <div class="close-button">
          <app-custom-button
            mat-dialog-close
            color="invisible"
            text="Cancel">
          </app-custom-button>
        </div>

        <div class="replace-button">
          <app-custom-button
            (onClick)="checkData()"
            [disabled]="!isLoadedFile || !!errors.length"
            color="blue"
            icon="done"
            text="Replace Catalog">
          </app-custom-button>
        </div>

      </div>
    </app-dialog-bottom>
  </div>
</mat-dialog-content>
