<div class="main-container" id="print-content">
  <div class="data-container">
    <div class="logo">
      <app-logo [isFull]="true" height="32"></app-logo>
    </div>
    <div class="order">
      <div class="order-header">Order {{ data.orderNo }}</div>
      <div class="order-status"
        [ngClass]="{
        'success-status': data.status.toLowerCase() === 'confirmed',
        'cancel-status': data.status.toLowerCase() === 'cancel'
         }">{{ data.status }}</div>
    </div>
    <div class="order-description">{{ data.ordered }}</div>
    <div class="user-data-container">
      <div class="customer-data">
        <div class="small-header">Customer</div>
        <div class="content-text"> {{ data.customerNo }}</div>
        <div class="content-text"> {{ data.customer }}</div>
        <div *ngFor="let address of data?.address?.split(',')" class="content-text">
          {{ address }}</div>
      </div>
      <div class="delivery-data">
        <div class="small-header">Requested Delivery Date</div>
        <div class="content-text"> {{ data.reqDelivery }}</div>
      </div>
    </div>
    <div class="notes-container">
      <div class="small-header">Notes</div>
      <div class="content-text"> {{ data.notes }}</div>
    </div>

    <div class="products-container">
      <div class="table-item-container">
        <div class="small-header item">Product Code</div>
        <div class="small-header">Product</div>
        <div class="small-header">Unit</div>
        <div class="small-header">Quantity</div>
      </div>

      <div *ngFor="let item of data.products" class="table-item-container item">
        <div class="content-text">{{ item.code }}</div>
        <div class="content-text">{{ item.name }}</div>
        <div class="content-text">{{ item.unit }}</div>
        <div class="content-text">{{ item.quantity }}</div>
      </div>

    </div>
    <div class="order-description right-text">Total {{ data.items }} items</div>
  </div>
</div>
