<div class="main-container">
  <div class="header-text">Log In</div>
  <div class="content-container">
    <div class="input-container" [formGroup]="loginForm">
      <app-custom-input
        type="email"
        formControlName="email"
        *ngrxLet="emailServerError$ as error"
        [invalid]="emailError || error"
        [success]="loginIsSuccess"
        placeholder="email@email.com" name="Your Email">
      </app-custom-input>
    </div>
    <div class="text-container">
      Enter the email you signed up with to receive your login code
    </div>
    <div class="button-container">
      <app-custom-button
        [disabled]="!formIsInvalid"
        (onClick)="clickHandler()" text="Log In">
      </app-custom-button>
    </div>
  </div>
</div>
