@import 'mixins';

.main-container {
  width: 376px;
  height: 780px;
}

.close-button {
  margin-right: 16px;
  width: 90px;
}

.done-container {
  width: 206px;
}


.no-input-container {
  margin-top: 6px;
}

.input-container {
  margin-top: 16px;
}

.check-container {
  @include font;
  margin-top: 23px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.textarea-container {
  margin-top: 28px;
}
