@import 'variables';
@import 'mixins';

.main-container {
  @include flex-column;
}

.logo-container {
  padding: 20px;
}

.content-container {
  @include flex-column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 320px) {
  .main-container {
    justify-content: center;
    align-items: center;
    background-color: $auth-form-color;
  }
}
