@mixin font {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
