$blue-button-color : #1672EC;
$blue-button-font-color : #C5DCFA;
$red-button-color : #F5413D;
$red-button-font-color : #FCD0CF;

$untouched-color : #616161;
$border-untouched-color : #A1A1A1;
$touched-input-color : #1672EC;
$input-success-color : #1F8B24;
$input-error-color : #DA100B;

$app-background : #E5E5E5;

$auth-form-color : #FFFFFF;
$auth-border-color : #E0E0E0;
$auth-description-color : #414141;

$active-background-color : rgba(197, 220, 250, 0.5);
$active-background-color-opacity : rgba(197, 220, 250, 0.25);

$invisible : rgba(0,0,0,0);

$unused-gray : #818181;

$black-color : black;
$table-hover-color : rgba(224, 224, 224, 0.25);
$gray-for-button: #C0C0C0;
$disabled-color: rgba(224, 224, 224, 0.5);

$hover-delete-color : rgba(252, 208, 207, 0.5);

$light-green-color : #52D858;
$done-background : #1F8B24;
$wait-background : #ED9526;
$shadow-color : rgba(15, 86, 179, 0.2);


