@import 'mixins';
@import 'variables';

.main-container {
  width: 376px;
}

.mgt16 {
  margin-top: 16px;
}

.add-button-container {
  width: 100px;
}

.close-button {
  margin-right: 16px;
  width: 90px;
}

.select-title {
  @include font;
  font-size: 12px;
  line-height: 130%;
  color: $untouched_color;
  margin-left: 15px;
}

.select-container {
  border: 1px solid $border-untouched-color;
  border-radius: 8px;
  padding: 10px;
}

.three-input-container {
  @include flex-row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.item-input {
  margin-right: 10px;
  flex: 1;
}

.add-button {
  width: 40%;
}

.delete {
  @include flex-column;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 19px;
}

.delete:hover {
  background-color: $hover-delete-color;
  color: $red-button-color
}

