@import 'variables';
@import 'mixins';

.main-container {
  @include flex-column;
  width: 24px;
  height: 24px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.main-container:hover, .active {
  background-color: $active-background-color;
  border-radius: 50%;
  color: $touched-input-color;
}

.icon {
  @include flex-column;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
